<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                <h2 class="footer-heading">Pet Adoption</h2>
                <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>
                <ul class="ftco-footer-social p-0">
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><span class="fab fa-twitter"></span></a></li>
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><span class="fab fa-facebook"></span></a></li>
                    <li class="ftco-animate"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><span class="fab fa-instagram"></span></a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                <h2 class="footer-heading">Latest News</h2>
                <div class="block-21 mb-4 d-flex">
                    <a class="img mr-4 rounded" style="background-image: url(images/image_1.jpg);"></a>
                    <div class="text">
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                        <div class="meta">
                            <div><a href="#"><span class="icon-calendar"></span> Dec 25, 2024</a></div>
                            <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                            <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                        </div>
                    </div>
                </div>
                <div class="block-21 mb-4 d-flex">
                    <a class="img mr-4 rounded" style="background-image: url(images/image_2.jpg);"></a>
                    <div class="text">
                        <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                        <div class="meta">
                            <div><a href="#"><span class="icon-calendar"></span> Dec 25, 2024</a></div>
                            <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                            <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 pl-lg-5 mb-4 mb-md-0">
                <h2 class="footer-heading">Quick Links</h2>
                <ul class="list-unstyled">
                    <li><a href="/" class="py-2 d-block">Home</a></li>
                    <li><a href="/about" class="py-2 d-block">About</a></li>
                    <li><a href="/pets" class="py-2 d-block">Pets</a></li>
                    <li><a href="/shelters" class="py-2 d-block">Shelters</a></li>
                    <li><a href="/vet" class="py-2 d-block">Veterinarians</a></li>
                    <li><a href="/contact" class="py-2 d-block">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3 mb-4 mb-md-0">
                <h2 class="footer-heading">Have a Questions?</h2>
                <div class="block-23 mb-3">
                    <ul>
                        <li><span class="icon fas fa-map-marker-alt"></span><span class="text">Madeira, Portugal</span></li>
                        <li><a href="#"><span class="icon fas fa-phone"></span><span class="text">+351 xxx xxx xxx</span></a></li>
                        <li><a href="#"><span class="icon fas fa-paper-plane"></span><span class="text">info@petadoption.com</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <p class="copyright">
                    Copyright &copy;@DateTime.Now.Year All rights reserved Sevaztian Soffia Otarola | Template by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- loader (Conflicts with Blazor rendering cycle) -->
@* <div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/>
    </svg>
</div> *@