@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        <div class="dropdown">
            <button class="btn btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown">
                @context.User.Identity?.Name
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/profile">My Profile</a></li>
                <AuthorizeView Policy="AdminOnly" Context="adminContext">
                    <Authorized>
                        <li><a class="dropdown-item" href="/admin/users">Manage Users</a></li>
                    </Authorized>
                </AuthorizeView>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/api/auth/logout">Logout</a></li>
            </ul>
        </div>
    </Authorized>
    <NotAuthorized>
        <a href="/login" class="btn btn-outline-light">Login</a>
    </NotAuthorized>
</AuthorizeView>